binarySearch                    
binary_addition
binary_pattern                                 
bubbleSort                                     
classImplementation1                           
input.txt                                        
insertionSort
inverted_pattern
linearSearch
output.txt                                       
palindrome_pattern
pyramid_pattern
rombus_pattern
selectionSort
zigzg_pattern 
maxArray
sumOfAllSubArrays		